

#tower {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 25px;
}

#start, #offset, #end {
    display: flex;  
    flex-direction: column-reverse;
    align-items: center;
    height: 400px;
    width: 10px;
    background-color: black;
    border: solid;
} 

#towerLabel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.red {
    background-color: red;
    height: 45px;
    width: 100px;
    border-radius: 20%;
}

.yellow {
    background-color: yellow;
    height: 55px;
    width: 125px;
    border-radius: 20%; 
}

.blue {
    background-color: blue;
    height: 65px;
    width: 150px;
    border-radius: 20%;
}

.orange {
    background-color: orange;
    height: 75px;
    width: 175px;
    border-radius: 20%;
}

.selected {
    border: solid 2px black;
}