

#tower {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 25px;
}

#start, #offset, #end {
    display: flex;  
    flex-direction: column-reverse;
    align-items: center;
    height: 400px;
    width: 10px;
    background-color: black;
    border: solid;
} 

#towerLabel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#red {
    background-color: red;
    height: 25px;
    width: 100px;
    border-radius: 10%;
}

#yellow {
    background-color: yellow;
    height: 50px;
    width: 125px;
    border-radius: 10%; 
}

#blue {
    background-color: blue;
    height: 75px;
    width: 150px;
    border-radius: 10%;
}

#orange {
    background-color: orange;
    height: 100px;
    width: 175px;
    border-radius: 10%;
}
